[Unit]
Description= My Spring Boot WebApp Application
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=sh /opt/start.sh
Restart=always
RestartSec=3
WorkingDirectory=/opt
User=csye6225
Group=csye6225